.character_detail {
  display: flex;
  justify-content: center;
  background: hsl(257, 48%, 39%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 500px;
  height: 300px;
  margin: 80px;
  position: relative;
  @media (max-width: 750px) {
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 410px;
  }
  &_icons {
    position: absolute;
    left: 282px;
    top: 30px;
    @media (max-width: 750px) {
      left: 173px;
      top: 197px;
    }
  }
  &_box {
    display: flex;
    align-items: center;
    &_img {
      width: 200px;
      height: auto;
    }
  }
  &_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    font-family: "Turret Road", cursive;
    @media (max-width: 750px) {
      margin: 20px 0px 0 0;
    }
    &_status {
      margin: 4px;
    }
    &_species {
      margin: 4px;
    }
    &_origin {
      margin: 4px;
    }
    &_episodes {
      margin: 4px;
    }
  }
}

.app__back {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
